.class-card{
    width: 25%;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Price{
    display: flex;
    align-items: center;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 0px 0px 10px 0px;
}
.Click{
    background-color: #3182ce;
    border-radius: 10px;
    color: white;
    padding: 5px 10px 5px 10px;
    &:hover{
        background-color: #2b6cb0;
    }
}
.Button_1{
    display: flex;
    justify-content: center;
}
.Seats{
    display: flex;
    justify-content: space-around;
}